.article-wrapper {
  padding: 0 0 0 10px;
  border-radius: 10px;
  font-size: 17px;
  width: 80%;
  margin: 0 auto;
  color: whitesmoke;
  z-index: 2;
}

.label-radio {
  color: whitesmoke;
}

.radio {
  margin: 0 auto;
}

p {
  font-size: 20px;
  z-index: 2;
}

.link {
  font-size: 20px;
  background-color: chartreuse;
  color: whitesmoke;
  border-radius: 15px;
  padding: 2px;
}

.image-article {
  width: 470px;
  display: block;
  border-radius: 22px;
  margin: 25px;
}
