$bodyColor: rgba(0, 0, 0, 0.4);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bodyColor;
  font-family: 'Padauk', sans-serif;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
